@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;900&display=swap");  
/* root */
:root{
    --iriscolor: #4D5AE5 ;
    --navyblue: #2e2f42 ; 
    --navblack: black ;
    --navocean: #404BBF ; 
    --navslate: #434455 ; 
    --navwhite: white ; 
    --navcloud: #F4F4FD ;

}

.logo-link
{
    text-decoration: none;
    font-size: 30px;
    line-height: 1.5;
    font-family: 'raleway', sams-serif;
}

.logo{
    color: var(--iriscolor);
}

.studio{
    color: var(--navyblue);
}

.studio-footer{
    color: var(--navwhite);
}

.nav-menu .page {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--navblack);
    letter-spacing: 0.32px;
    font-family: 'roboto', sams-serif;
}

.list {
    list-style-type: none;
}

.nav-menu .page:hover,
.nav-menu .page:focus{
    color: var(--navocean);
}

.contacts-menu .item{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--navslate);
    letter-spacing: 0.32px;
    font-family: 'roboto', sams-serif;
}

.contacts-menu .item:hover,
.contacts-menu .item:focus{
    color: var(--navocean);
}

.bg-hero {
    background-color: var(--navyblue);
}

.hero{
    text-align: center;
    font-size: 45px;
    line-height: 1.5;
    font-weight: 800;
    letter-spacing: 1.12px;
    color: var(--navwhite);
    font-family: 'roboto', sams-serif;
    
}

.btn{
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.05em;
    font-family: interit;
    font-family: 'roboto', sams-serif;
    
}

.btn.bg-button{
    background-color: var(--navocean);
    color: var(--navwhite);
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

.btn.bg-button:hover,
.btn.bg-button:focus{
    background-color: var(--navslate) ;
}

.description.title{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

.benefits{
    font-family: 'roboto', sams-serif;
    color: var(--navyblue);
}

.section-title{
    text-align: center;
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 900;
    line-height: 1.5;
    font-family: 'roboto', sams-serif;
}

.team{
    color: var(--navyblue);
    font-weight: 900;
    font-family: 'roboto', sams-serif;
}

.position{
    color: var(--navslate);
    font-weight: 100;
}

.bg-footer{
    background-color: var(--navyblue);
}
.page-footer{
    color: var(--navwhite);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    font-family: 'roboto', sams-serif;
}

.button{
    border-color: transparent;
}

.button.filter{
    background-color: var(--navcloud);
    color: var(--iriscolor);
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

.button.filter:hover,
.button.filter:focus{
    background-color: var(--navslate) ;
}

.projects{
    font-family: 'roboto', sams-serif;
    color: var(--navyblue);
}